<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Botones de redes sociales en HTML y JQuery | Devlaz</title>
	<link rel="shortcut icon" type="image/png" href="favicon.png" />
	<link rel="stylesheet" href="style.css" type="text/css" media="all" />	
</head>
<body>
<header>
	<div class="flex">
		<a href="https://devlaz.com"><div class="logo"></div></a>		
	</div>
</header>
<main>
	<div class="shared-panel">
		<span>Compartir</span><br>
		<a target="_blank" class="shared fb" title="Facebook"></a>	
		<a target="_blank" class="shared tt" title="Twitter"></a>
		<a target="_blank" class="shared gp" title="Google+"></a>
		<a  data-action='share/whatsapp/share' class="shared wa" title="WhatsApp"></a>
		<a target="_blank" class="shared ce" id="sml" title="Email"></a>		
	</div>
	<br>
	<div class="shared-panel">
		<span>Compartir iconos cuadrados</span><br>
		<a target="_blank" class="shared fb st2" title="Facebook"></a>	
		<a target="_blank" class="shared tt st2" title="Twitter"></a>
		<a target="_blank" class="shared gp st2" title="Google+"></a>
		<a class="shared wa st2" data-action='share/whatsapp/share' title="WhatsApp"></a>
		<a target="_blank" class="shared ce st2" title="Email"></a>
	</div>
	<br>
	<div class="shared-panel">
		<span>Compartir con esquinas redondeadas</span><br>
		<a target="_blank" class="shared fb st3" title="Facebook"></a>	
		<a target="_blank" class="shared tt st3" title="Twitter"></a>
		<a target="_blank" class="shared gp st3" title="Google+"></a>
		<a class="shared wa st3" data-action='share/whatsapp/share' title="WhatsApp"></a>
		<a target="_blank" class="shared ce st3" title="Email"></a>
	</div>
</main>
<footer>
<div class="flex">
	© Devlaz 2017. Todos los derechos reservados.
	<b style="float: right;">MALI</b>
</div>
<br>
</footer>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="main.js"></script>
</body>
</html>